USE [QUAN_LY_CHI_TIEU]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 02/01/2024 04:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_USERNAME] [nvarchar](200) NULL,
	[ID_USER] [int] NULL,
	[ACCOUNT_PASSWORD] [nvarchar](200) NULL,
	[DATE_CREATED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INPUT]    Script Date: 02/01/2024 04:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INPUT](
	[INPUT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE_INPUT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[INPUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INPUT_INFOR]    Script Date: 02/01/2024 04:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INPUT_INFOR](
	[INPUT_INFOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[INPUT_ID] [int] NULL,
	[ACCOUNT_ID] [int] NULL,
	[TYPE_INPUT] [nvarchar](50) NULL,
	[PERIODIC] [nvarchar](50) NULL,
	[AMOUNT_MONEY] [float] NULL,
	[UNIT_MONEY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[INPUT_INFOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OUTPUT]    Script Date: 02/01/2024 04:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUTPUT](
	[OUTPUT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE_OUTPUT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OUTPUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OUTPUT_INFOR]    Script Date: 02/01/2024 04:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OUTPUT_INFOR](
	[OUTPUT_INFOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[OUTPUT_ID] [int] NULL,
	[ACCOUNT_ID] [int] NULL,
	[TYPE_OUTPUT] [nvarchar](50) NULL,
	[PAY] [nvarchar](20) NULL,
	[AMOUNT_MONEY] [float] NULL,
	[UNIT_MONEY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OUTPUT_INFOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_]    Script Date: 02/01/2024 04:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[FULL_NAME] [nvarchar](max) NULL,
	[NUMBER_PHONE] [nvarchar](20) NULL,
	[MAIL] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACC_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER_] ([ID_USER])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACC_USER]
GO
ALTER TABLE [dbo].[INPUT_INFOR]  WITH CHECK ADD  CONSTRAINT [FK_INF_ACC] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[INPUT_INFOR] CHECK CONSTRAINT [FK_INF_ACC]
GO
ALTER TABLE [dbo].[INPUT_INFOR]  WITH CHECK ADD  CONSTRAINT [FK_INF_IN] FOREIGN KEY([INPUT_ID])
REFERENCES [dbo].[INPUT] ([INPUT_ID])
GO
ALTER TABLE [dbo].[INPUT_INFOR] CHECK CONSTRAINT [FK_INF_IN]
GO
ALTER TABLE [dbo].[OUTPUT_INFOR]  WITH CHECK ADD  CONSTRAINT [FK_OUF_ACC] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[OUTPUT_INFOR] CHECK CONSTRAINT [FK_OUF_ACC]
GO
ALTER TABLE [dbo].[OUTPUT_INFOR]  WITH CHECK ADD  CONSTRAINT [FK_OUF_OU] FOREIGN KEY([OUTPUT_ID])
REFERENCES [dbo].[OUTPUT] ([OUTPUT_ID])
GO
ALTER TABLE [dbo].[OUTPUT_INFOR] CHECK CONSTRAINT [FK_OUF_OU]
GO
